@media all and (max-width: 1440px) {
  .block {
    width: 75%;
  }
  .duration {
    width: 12%;
  }
}
@media all and (max-width: 1024px) {
  .one {
    min-height: 40%;
  }
  .age {
    width: 15%;
  }
  .duration {
    width: 20%;
  }
  .grade {
    width: 20%;
  }
  .shows {
    width: 80%;
  }
  .cover-shows {
    width: 80%;
  }
  .movies {
    width: 80%;
  }
  .cover-movies {
    width: 80%;
  }
  .actorsanddirectors {
    width: 74%;
  }
  .actanddir {
    width: 74%;
  }
  .bottom {
    min-height: 285px;
  }
  .coming {
    margin-top: 200px;
  }
  .areyou {
    width: 90%;
  }
}
@media all and (max-width: 768px) {
  .box {
    width: 33%;
    justify-content: center;
  }
  .year,
  .age,
  .duration,
  .grade {
    width: 20%;
  }
  .one {
    min-height: 40%;
  }
  .watch {
    width: 40%;
  }
  .more-information {
    width: 45%;
  }
  .coming {
    text-align: center;
    margin-top: 170px;
    line-height: 50px;
  }
  .bottom-right {
    background-position: top;
  }
  .areyou {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
  }
  .areyounew {
    width: 85%;
  }
}
@media all and (max-width: 426px) {
  .box {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .right-block {
    display: none;
  }
  .left-block {
    width: 100%;
    background-image: url(../images/pexels-sebastiaan-stam-1480690.png);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
  }
  .shows {
    width: 66%;
  }
  .cover-shows {
    width: 50%;
  }
  .movies {
    width: 57%;
  }
  .cover-movies {
    width: 54%;
  }
  .see {
    width: 30%;
    margin: 0 auto;
  }
  .more {
    margin: 20px 0 20px 0;
  }
  .genres {
    width: 58%;
  }
  .cover-genres {
    min-height: 850px;
  }
  .cover {
    width: 50%;
  }
  .actorsanddirectors {
    width: 83%;
  }
  .actanddir {
    width: 44%;
  }
  .bottom {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  .bottom-left {
    width: 90%;
  }
  .bottom-left img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .bottom-right {
    width: 90%;
  }
  .areyou {
    display: flex;
    flex-flow: column wrap;
  }
  .areyounew a {
    font-size: 45px;
  }
  .register {
    width: 33%;
    margin: 20px 0 0 0;
  }
  .footer__row {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  .footer__row ol {
    padding-inline-start: 0;
  }
  .footer__logo {
    width: 90%;
  }
}
@media all and (max-width: 376px) {
  .shows {
    width: 67%;
  }
  .movies {
    width: 58%;
  }
  .genres {
    width: 59%;
  }
  .actorsanddirectors {
    width: 95%;
  }
  .actanddir {
    width: 50%;
  }
}
@media all and (max-width: 321px) {
  .left-block {
    min-height: 560px;
  }
  .main-text {
    font-size: 48px;
    line-height: 45px;
  }
  .block {
    width: 90%;
  }
  .shows {
    width: 80%;
  }
  .cover-shows {
    width: 65%;
  }
  .movies {
    width: 70%;
  }
  .cover-movies {
    width: 65%;
  }
  .genres {
    width: 70%;
  }
  .cover {
    width: 100%;
  }
  .actorsanddirectors {
    width: 70%;
  }
  .actanddir {
    width: 60%;
  }
  .coming {
    font-size: 45px;
  }
  .areyounew {
    width: 95%;
  }
  .areyou {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .logo {
    width: 40%;
  }
}
